.extra{
    width: 100%;
    background-color: #1F2E35;
    text-align: center;
    &__top{
        padding: 100px 0px;
        &-style{
            font-size: 34px;
            color: #fff;
        }
        &-style2{
            padding: 20px 0px;
            font-size: 18px;
            color: #fff;
        }
    }
    &__bottom{
        padding: 30px 200px;
        text-align: start;
        &-box{
            display: flex;
            gap: 15px;
            color: #fff;
            font-size: 14px;
            border-bottom: 1px solid #02897A;;
            
            padding: 20px 0px;
        }
        &-box2{
            color: #fff;
            font-size: 14px;
            display: flex;
            gap: 8px;
            border-bottom: 1px solid #02897A;;
        }
    }
}